<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Codilar\Demo\Model\ResourceModel\BrandsInfo\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">demo</argument>
            <argument name="resourceModel"
                      xsi:type="string">Codilar\Demo\Model\ResourceModel\BrandsInfo</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="brand_info_listing_data_source"
                      xsi:type="string">Codilar\Demo\Model\ResourceModel\BrandsInfo\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Codilar\Demo\Model\Image\DataProvider" type="Codilar\Demo\Model\DataProvider">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">codilar/tmp/demo/images</argument>
            <argument name="basePath" xsi:type="string">codilar/demo/images</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="png" xsi:type="string">image/png</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Codilar\Demo\Controller\Adminhtml\Info\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Codilar\Demo\Model\Image\DataProvider</argument>
        </arguments>
    </type>
    <type name="Codilar\Demo\Controller\Adminhtml\Info\Save">
        <arguments>
            <argument name="dataProvider" xsi:type="object">Codilar\Demo\Model\Image\DataProvider</argument>
        </arguments>
    </type>

    <preference for="Codilar\Demo\Api\BrandsRepositoryInterface"
                type="Codilar\Demo\Model\Api\BrandsRepository"/>

</config>
