<?xml version="1.0"?>
<!--
/**
 * routes.xml
 *
 * @copyright Copyright © 2020 Codilar Technologies Pvt. Ltd.. All rights reserved.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="pushnotify" frontName="pushnotify">
            <module name="Codilar_PushNotification"/>
        </route>
    </router>
</config>
