<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codilar_User::user" title="User" translate="title" module="Codilar_User" sortOrder="75" resource="Codilar_User::user"/>
        <add id="Codilar_User::user_listing" title="All User" translate="title" module="Codilar_User" sortOrder="10" parent="Codilar_User::user" action="user/info/index" resource="Codilar_User::user"/>
    </menu>
</config>
